{% extends 'base.html.twig' %}

{% block navbar %}
	<nav class="bg-light fixed-top">
		<ul class="navbar navbar-expand navbar-light">
			<li class="nav-item">
				<a class="nav-link" href="{{path('admin_home')}}">Accueil</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('admin_vehicles')}}">Catalogue de véhicules</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('admin_charging_stations')}}">Catalogue de bornes de recharge</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('admin_estimates')}}">Demandes de devis</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('admin_partners')}}">Demandes de partenariat</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('product_vehicles')}}">Revenir au site utilisateur</a>
			</li>
			<li
				class="nav-item">
				{# If admin is not connected he can see login button, if admin connects he can see logout button #}
				{% if app.user %}
					<a class="nav-link nav-style" href="{{ path('app_logout') }}">
						Se déconnecter</a>
				{% else %}
					<a class="nav-link nav-style" href="{{ path('app_login') }}">
						Se connecter</a>
				{% endif %}
			</li>
		</ul>
	</nav>
{% endblock %}
