{# This is the page that will allow admins to see the charging stations' catalog #}

{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ parent() }} - Admin - Catalogue des bornes {% endblock %}

{% block body %}
<h1>Catalogue de Bornes de Recharge</h1>
<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Debit</th>
                <th>Installation</th>
                <th>Temps de recharge</th>
                <th>Stockage supplémentaire</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for refillStation in refillStations %}
            <tr>
                <td>{{ refillStation.id }}</td>
                <td>{{ refillStation.name }}</td>
                <td>{{ refillStation.description }}</td>
                <td>{{ refillStation.debit }}</td>
                <td>{{ refillStation.installation }}</td>
                <td>{{ refillStation.refillTime }}</td>
                <td>{{ refillStation.additionalStorage ? 'Yes' : 'No' }}</td>
                <td>{{ refillStation.photo }}</td>
                <td>
                    <a href="{{ path('admin_charging_station_show', {'id': refillStation.id}) }}">Voir</a>
                    <a href="{{ path('admin_charging_station_edit', {'id': refillStation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucune bornes trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('admin_charging_station_new') }}">Ajouter</a>
{% endblock %}
