{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ parent() }} - Admin - Borne de recharge{% endblock %}

{% block body %}
    <h1>Borne de recharge</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ refillStation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ refillStation.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ refillStation.description }}</td>
            </tr>
            <tr>
                <th>Debit</th>
                <td>{{ refillStation.debit }}</td>
            </tr>
            <tr>
                <th>Installation</th>
                <td>{{ refillStation.installation }}</td>
            </tr>
            <tr>
                <th>Temps de recharge</th>
                <td>{{ refillStation.refillTime }}</td>
            </tr>
            <tr>
                <th>Stockage supplémentaire</th>
                <td>{{ refillStation.additionalStorage ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ refillStation.photo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_charging_stations') }}">Retour sur les bornes</a>

    <a href="{{ path('admin_charging_station_edit', {'id': refillStation.id}) }}">Modifier</a>

    {{ include('admin/charging_station_delete_form.html.twig') }}
{% endblock %}
