{# This is the page that will allow admins to see the vehicles' catalog #}

{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ parent() }} - Admin - Catalogue des véhicules{{ parent() }}{% endblock %}

{% block body %}
<h1>Catalogue des véhicules</h1>
<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Type de véhicule</th>
                <th>Puissance fiscal</th>
                <th>Puissance réelle</th>
                <th>Capacité réservoir GNV</th>
                <th>Consommation GNV</th>
                <th>Capacité carburant</th>
                <th>Consommation carburant</th>
                <th>Autonomie</th>
                <th>Vol.compartiment arrière</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.id }}</td>
                <td>{{ vehicle.name }}</td>
                <td>{{ vehicle.description }}</td>
                <td>{{ vehicle.type }}</td>
                <td>{{ vehicle.fiscalPower }}</td>
                <td>{{ vehicle.actualPower }}</td>
                <td>{{ vehicle.tankCapacityCNG }}</td>
                <td>{{ vehicle.consumptionCNG }}</td>
                <td>{{ vehicle.tankCapacityFuel }}</td>
                <td>{{ vehicle.consumptionFuel }}</td>
                <td>{{ vehicle.autonomy }}</td>
                <td>{{ vehicle.rearVolume }}</td>
                <td>{{ vehicle.photo }}</td>
                <td>
                    <a href="{{ path('admin_vehicle_show', {'id': vehicle.id}) }}">Voir</a>
                    <a href="{{ path('admin_vehicle_edit', {'id': vehicle.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('admin_vehicle_new') }}">Ajouter</a>
{% endblock %}
