{% extends 'base.html.twig' %}

{% block navbar %}
<nav class="bg fixed-top">
    <ul class="navbar navbar-expand navbar-light">
        <li>
            <a class="navbar-brand" href="{{path('product_vehicles')}}">Mobilean</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('product_vehicles')}}">Nos solutions clés en main</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('product_charging_stations')}}">Nos solutions de ravitaillement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('contact_estimate')}}">Je décris mon besoin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('contact_partner')}}">Devenir installateur</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('information_about')}}">À propos de nous</a>
        </li>
      <li class="nav-item">
	        {# If admin on the site user he can return on site adminisrator #}
	        {% if app.user %}
		    <a class="nav-link" href="{{path('admin_home')}}">Revenir au site administrateur</a>
	        {% endif %}
        </li>
        <li class="nav-item">
			{# If admin connects he can see logout button #}
			{% if app.user %}
			<a class="nav-link nav-style" href="{{ path('app_logout') }}">Se déconnecter</a>
			{% endif %}
			</li>
    </ul>
</nav>
{% endblock %}

{% block footer %}
    <nav class="page-footer fixed-bottom bg-light">
        <ul class="navbar navbar-expand">
            <li class="nav-item">
                <a class="nav-link" href="{{path('contact_message')}}">Contactez-nous</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('information_legal')}}">Mentions légales</a>
            </li>
        </ul>
    </nav>
{% endblock %}
