{# This is the page that will display the charging stations' catalog #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}Bornes de Ravitaillement - {{ parent() }}{% endblock %}
{% block body %}
    <h1>Nos Solutions de Ravitaillement </h1>
    <p class="presentation-text">
        Faire le plein de Gaz Naturel n'a jamais été aussi facile grâce à la borne de recharge installée à domicile ou sur le lieu de travail.
        Une fois connectée sur votre réseau domestique, la borne de recharge vous permet ravitailler votre véhicule : la nuit suffit à faire le plein !
    </p>
	<div class = 'station-container'>
    {% for refillStation in refillStations %}
        <h2>{{refillStation.name}}</h2>
		<div class = 'station-block'>
			<p class = 'stations-text'>
                {{refillStation.description}}
            </p>
            <img src="/assets/images/{{refillStation.photo}}" alt="{{refillStation.name}}">
		</div>
    {% endfor %}
    </div>
{% endblock %}

