{# This is the page that displays a message to tell the user their message has been submitted #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}Message envoyé -  {{ parent() }}{% endblock %}

{% block body %}
<h1>Merci pour votre demande</h1>
<p>Votre message a bien été envoyé, l'équipe Mobilean vous recontactera sous peu.</p>

<h2>Résumé :</h2>
<ul>
{% if data.type == 'partner' %}
    <li>Date d'envoi de la demande : {{ data.submitDate|date('d/m/Y') }}</li><br>
    <li>Raison sociale : {{ data.businessName }}</li><br>
    <li>Expertise : 
        {% if data.expertise == 'Autre' %}
            {{ data.otherExpertise }}
        {% else %}
            {{ data.expertise }}
        {% endif %}</li><br>
    <li>Numéro SIREN : {{ data.numberSIREN }}</li><br>
    <li>Nom complet de la personne à contacter : {{ data.fullName }}</li><br>
    <li>Fonction de la personne à contacter : {{ data.jobTitle }}</li><br>
    <li>Téléphone : {{ data.telephone }}</li><br>
    <li>E-mail : {{ data.email }}</li><br>
    <li>Adresse : {{ data.address }}, {{ data.zipCode }} {{ data.city|upper }}</li><br>
    <li>Effectif : {{ data.workforce }}</li><br>
    {% if data.message is not empty %}
        <li>Message : {{ data.message }}</li><br>
    {% endif %}
{% endif %}

{% if data.type == 'estimateIndividuals' %}
    <li>Date d'envoi de la demande : {{ data.submitDate|date('d/m/Y') }}</li><br>
    <li>Prénom : {{ data.firstName }}</li><br>
    <li>Nom de famille : {{ data.lastName }}</li><br>
    <li>Téléphone : {{ data.telephone }}</li><br>
    <li>E-mail : {{ data.email }}</li><br>
    <li>Adresse : {{ data.address }}, {{ data.zipCode }} {{ data.city|upper }}</li><br>
    <li>Domicile connecté au gaz naturel : 
        {% if data.isConnectedToGas == true %}
            Oui
        {% else %}
            Non
        {% endif %}</li><br>
    <li>Nombre de véhicules : {{ data.numberOfVehicles }}</li><br>
    <li>Type(s) de véhicule(s) : 
        {% if data.typeOfVehicles|length == 2 %}
            Tourisme et utilitaires
        {% elseif data.typeOfVehicles[0] == 'commercialVehicles' %}
            Utilitaires
        {% elseif data.typeOfVehicles[0] == 'tourismVehicles' %}
            Tourisme
        {% endif %}</li><br>
    <li>Distance moyenne par véhicule par an : {{ data.averageDistance }}km</li><br>
    {% if data.message is not empty %}
        <li>Message : {{ data.message }}</li><br>
    {% endif %}
{% endif %}

{% if data.type == 'estimateCompanies' %}
    <li>Date d'envoi de la demande : {{ data.submitDate|date('d/m/Y') }}</li><br>
    <li>Raison sociale : {{ data.businessName }}</li><br>
    <li>Numéro SIREN : {{ data.numberSIREN }}</li><br>
    <li>Nom complet de la personne à contacter : {{ data.fullName }}</li><br>
    <li>Fonction de la personne à contacter : {{ data.jobTitle }}</li><br>
    <li>Téléphone : {{ data.telephone }}</li><br>
    <li>E-mail : {{ data.email }}</li><br>
    <li>Adresse : {{ data.address }}, {{ data.zipCode }} {{ data.city|upper }}</li><br>
    <li>Local connecté au gaz naturel : 
        {% if data.isConnectedToGas == true %}
            Oui
        {% else %}
            Non
        {% endif %}</li><br>
    <li>Nombre de véhicules : {{ data.numberOfVehicles }}</li><br>
    <li>Type(s) de véhicule(s) : 
        {% if data.typeOfVehicles|length == 3 %}
            Tourisme, utilitaires, poids lourds
        {% elseif data.typeOfVehicles|length == 2 %}
            {% if data.typeOfVehicles[0] == 'commercialVehicles' %}
                {% if data.typeOfVehicles[1] == 'tourismVehicles' %}
                    Toursime et utilitaires
                {% else %}
                    Utilitaires et poids lourds
                {% endif %}
            {% else %}
                Tourisme et poids lourds
            {% endif %}
        {% elseif data.typeOfVehicles[0] == 'commercialVehicles' %}
            Utilitaires
        {% elseif data.typeOfVehicles[0] == 'tourismVehicles' %}
            Tourisme
        {% elseif data.typeOfVehicles[0] == 'heavyTrucks' %}
            Poids lourds
        {% endif %}</li><br>
    <li>Distance moyenne par véhicule par an : {{ data.averageDistance }}km</li><br>
    {% if data.message is not empty %}
        <li>Message : {{ data.message }}</li><br>
    {% endif %}
{% endif %}

{% if data.type == 'contact' %}
    <li>Date d'envoi de la demande : {{ data.submitDate|date('d/m/Y') }}</li><br>
    <li>Nom : {{ data.fullName }}</li><br>
    {% if data.businessName is not empty %}
        <li>Raison sociale : {{ data.businessName }}</li><br>
    {% endif %}
    <li>E-mail : {{ data.email }}</li><br>
    <li>Téléphone : 
        {% if data.telephone is not empty %}
            {{ data.telephone }}
        {% else %}
            Non renseigné
        {% endif %}</li><br>
    <li>Objet de votre demande : {{ data.subject }}</li><br>
    <li>Message : {{ data.message }}</li><br>
{% endif %}
</ul>
<a href="{{path('product_vehicles')}}">Revenir au site</a>
{% endblock %}
